
h1 {
	color: White;
	padding: 30px;
	margin: 0;
}

* {
	box-sizing: border-box;
}

nav {
	float: center;
	width: 100%;
	height: 50px;
	background: #004d80;
	padding: 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

* {
	box-sizing: border-box;
}


.mySlides {
	display: none;
}

img {
	vertical-align: middle;
}


/* Slideshow container */

.slideshow-container,
#indexgal {
	background-color: black;
	max-width: 1920px;
	position: sticky;
	margin: auto;
}


/* Caption text */

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


/* The dots/bullets/indicators */


}

.active {
	background-color: #717171;
}


/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .5
	}

	to {
		opacity: 1
	}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}


{
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 8px;
}

@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 0 16px;
}

.container::after,
.row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	background-color: #555;
}

.punchline {
	text-align: center;
	margin: 40px;
	font-size: 30px;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
}


/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}

.akprodl {
	display: block;
	text-align: center;
	margin: 30px;
}

.addtrans {
	display: block;
	text-align: center;
	margin: 30px;
}


.sticker {
	margin: 0;
}

.content {
	width: 100%;
	height: 710px;
	position: relative;
}

.canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.menu {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.menu>input {
	width: 100%;
	display: block;
	margin: 5px 0px 0px 0px;
}

#printSrc {
	display: none;
}

#tips {
	position: fixed;
	left: 10px;
	bottom: 10px;
}

#tips>em {
	margin: 0px 5px;
}

@media print {
	.content {
		display: none;
	}

	#printSrc {
		display: block;
	}
}

#brush,
#load,
#save,
#print {
	background-color: #004d80;
	/* Green */

	border: none;
	border-radius: 8px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}


* {
	box-sizing: border-box;
}
.autocomplete {
	/*the container must be positioned relative:*/

	margin: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	position: relative;
}
input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}
input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}
input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}
.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/

	display: block;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/

	background-color: #e9e9e9;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/

	background-color: DodgerBlue !important;
	color: #ffffff;
}

.contact {
	color: Black;
	text-align: center;
	margin: 40px;
	font-size: 30px;
}

.help {
	text-align: center;
	font-size: 15px;
}

.disc-email {
	text-align: center;
	margin: 100px;
}

* {
	box-sizing: border-box
}
.mySlides {
	display: none
}
img {
	vertical-align: middle;
}


/* Slideshow container */
.slideshow-container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	max-width: 450px;
	position: relative;
	margin: 120px auto auto 300px;
}


/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}


/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px
	}
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #004d80;
	color: white;
	text-align: center;
	padding: 21px;
	margin: 0;
}
